@use "../abstract" as ab;

.categories {
    &__title {
        margin-bottom: 21px;
    }
    &__row {
        --grid-gutter-x: 51px;
        @include ab.breakpoint(xxl) {
            --grid-gutter-x: 30px;
        }
        @include ab.breakpoint(lg) {
            --grid-gutter-y: 30px;
        }
        @include ab.breakpoint(md) {
            --grid-gutter-y: 24px;
        }
    }
}
