@use "../abstract" as ab;
.footer {
    padding: 50px 0;
    background: var(--footer-bg-color);
    font-family: "Lato", sans-serif;
    &__row {
        display: flex;
    }

    &__main-row {
        gap: 60px;
        @include ab.breakpoint(lg) {
            flex-flow: column;
        }
    }

    &__short-intro {
        flex: 1;
    }

    &__intro {
        margin-top: 30px;
    }

    &__form {
        margin-top: 40px;
    }

    &__form-title {
    }
    &__search-row {
        margin-top: 20px;
        display: flex;
        gap: 10px;
        justify-content: space-between;
        @include ab.breakpoint(xl) {
            flex-flow: column;
        }
        @include ab.breakpoint(lg) {
            flex-flow: row;
            justify-content: flex-start;
        }
    }
    &__search-input {
        width: 100%;
        font-size: 16px;
        color: var(--text-primary-color);

        height: 46px;
        border-radius: 6px;
        background: transparent;
        padding: 8px 12px;
        border: 2px solid #d2d1d6;
        @include ab.breakpoint(xl) {
            height: 40px;
            padding: 10px;
        }
        @include ab.breakpoint(lg) {
            width: 40%;
        }
        @include ab.breakpoint(lg) {
            width: 100%;
        }
    }

    &__btn {
        height: 46px;
        font-weight: 500;
        padding: 0 20px;
        font-size: 18px;

        @include ab.breakpoint(xl) {
            height: 30px;
            padding: 0;
        }
        @include ab.breakpoint(lg) {
            height: 40px;
            padding: 0 20px;
        }
    }

    &__intro,
    &__form-title,
    &__item {
        font-size: 1.4rem;
        color: var(--text-primary-color);
        line-height: 150%;
    }

    &__contact {
        flex: 1;
    }
    &__contact-list {
        display: flex;
        flex-flow: column;
    }
    &__contact-item {
        font-size: 16px;
        line-height: 150%;

        & ~ & {
            margin-top: 35px;
        }
        &:nth-child(2) {
            margin-top: 0;
        }
        span {
            font-weight: 700;
        }
    }

    &__nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 60px;
        flex: 2;
        @include ab.breakpoint(lg) {
            order: 4;
        }
        @include ab.breakpoint(md) {
            grid-template-columns: 1fr;
            row-gap: 40px;
        }
    }
    &__list {
    }
    &__item {
        white-space: nowrap;

        font-weight: 500;
        & ~ & {
            margin-top: 20px;
        }
        &:nth-child(2) {
            margin-top: 0;
        }
        & a:hover {
            color: #0071dc;
        }
    }

    &__title-link {
        position: relative;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 35px;
        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: -9px;
            left: 0;
            width: 100%;
            height: 1px;
            background: #9e9da8;
        }
        @include ab.breakpoint(xl) {
            &::after {
                width: 50%;
            }
        }
        // @include ab.breakpoint(md) {
        //     &::after {
        //         content: "";
        //         display: block;
        //         position: absolute;
        //         bottom: -10px;
        //         left: 0;
        //         width: 50%;
        //         height: 1px;
        //         background: #9e9da8;
        //     }
        // }
    }
    &__social-row {
        margin-top: 64px;
        align-items: center;
        justify-content: space-between;
        @include ab.breakpoint(md) {
            flex-flow: column;
            gap: 30px;
        }
    }
    &__copy {
        font-size: 14px;
        font-weight: 400;
        color: #9e9da8;
        @include ab.breakpoint(md) {
            order: 2;
        }
    }
    &__social {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }

    &__social-block {
        background: red;
        color: #fbfbfb;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        height: 32px;
        width: 32px;
        transition: transform, opacity;
        transition-duration: 0.3s;
        &:hover {
            transform: translateY(-3px);
            opacity: 0.7;
        }
    }

    &__fb {
        background: #556386;
    }
    &__yt {
        background: #9b1b1b;
    }
    &__tiktok {
        background: #000;
    }
    &__linkin {
        background: #6b93ba;
    }
    &__twitter {
        background: #4b6c89;
    }
    &__instagram {
        background: linear-gradient(to top right, #fecf20, #ee0006, #b804c1);
    }
}
