@use "../abstract" as ab;

.products {
    padding-bottom: 80px;
    &__row-title {
        margin-bottom: 21px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
