@use "../abstract" as ab;

.breakcumbs {
    background: var(--breakcumbs-bg-color);
    border-radius: 10px;
    box-shadow: var(--breakcumbs-shadow);
    &__inner {
        padding: 20px;
        min-width: 64px;
    }
    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        @include ab.breakpoint(md) {
            gap: 16px;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        gap: 8px;
        color: #9e9da8;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
        white-space: nowrap;

        &--current {
            color: inherit;
        }
    }
}
