@use "../abstract" as ab;

.filter {
    position: relative;
    text-align: left;
    user-select: none;
    &__wapper {
        position: relative;
        display: flex;
        align-items: center;
        column-gap: 14px;
        padding: 6px 12px;
        height: 36px;
        border-radius: 6px;

        background: var(--filter-title--bg-color);
        transition: opacity 0.3s;
        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }

    &__title {
        color: var(--filter-title-color);
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 142.857%;

        &--small {
            color: var(--filter-form-text-color);

            font-size: 2.2rem;
            font-weight: 500;
            line-height: 145.455%;
        }
        &--tiny {
            color: var(--filter-form-text-color);
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 142.857%;
        }
    }

    &__icon {
        filter: var(--filter-title-icon-filter);
    }

    // filter__form
    &__form {
        position: absolute;
        padding-top: 20px;

        opacity: 0;
        visibility: hidden;
        transform: translateY(-25px);
        transition: visibility 0.3s, transform 0.3s, opacity 0.3s;

        top: 36px;
        right: 0;
        z-index: 5;
    }
    &.active &__form {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }
    &__form-wapper {
        position: relative;

        width: min(1060px, 100%);
        padding: 30px;
        border-radius: 20px;
        background: var(--filter-form-bg);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        &::after {
            position: absolute;
            top: -5px;
            right: 4%;
            content: "";
            display: block;
            height: 20px;
            width: 20px;
            border-radius: 5px;
            rotate: 45deg;
            border: 20px solid var(--filter-form-bg);
        }
    }

    &__row {
        display: flex;
        gap: 30px;

        margin-top: 30px;
        height: 100%;

        @include ab.breakpoint(xl) {
            gap: 20px;
        }
        @include ab.breakpoint(lg) {
            flex-flow: column;
        }
        @include ab.breakpoint(md) {
            margin-top: 20px;
        }
    }

    &__form-price,
    &__form-branch,
    &__form-size {
        display: flex;
        gap: 20px;
        flex-flow: column;
    }

    &__range {
        position: relative;
        width: 100%;
        height: 2px;
        background: #d2d1d6;
    }
    &__range-ball {
        top: -50%;
        transform: translateY(-50%);
        position: absolute;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        background: #fff;
        border: 6px solid #ffb700;
        &:hover {
            cursor: grab;
        }
    }
    &__range-ball-1 {
        left: 18px;
    }

    &__range-ball-2 {
        left: 160px;
    }

    &__numb-range {
        display: flex;
        column-gap: 30px;
    }

    &__numb-Item {
        display: flex;
        flex-flow: column;
        row-gap: 10px;
        input {
            color: var(--filter-form-text-color);
            padding: 6px 12px;
            border-radius: 6px;
            width: 121px;
            height: 36px;
            border: 1px solid var(--filter-form-line);
            font-size: 1.4rem;
            font-weight: 500;
            line-height: 142.857%;
            background: var(--filter-form-bg-search);
        }
    }

    &__weight-wrapper {
        display: flex;
        align-items: center;
        gap: 14px;
        width: 272px;
        height: 45px;
        padding: 5px 14px;
        border-radius: 6px;
        border: 1px solid var(--filter-form-line);
    }
    &__weight,
    &__weight-type {
        display: flex;
        align-items: center;
        justify-content: space-between;

        color: var(--filter-form-text-size);

        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;
        &:hover {
            cursor: pointer;
        }
    }
    &__weight {
        gap: 67px;
        flex: 2;
    }
    &__weight-type {
        flex: 1;
        gap: 17px;
    }

    &__form-branch {
        flex: 1;
    }

    &__search {
        position: relative;
        input {
            color: #9e9da8;
            font-size: 1.5rem;
            line-height: 146.667%;
            width: 100%;
            border: 1px solid var(--filter-form-line);
            background: var(--filter-form-bg-search);
            border-radius: 6px;

            padding: 10px 45px 10px 16px;
        }
        img {
            position: absolute;
            right: 5%;
            top: 50%;
            transform: translateY(-50%);
            &:hover {
                cursor: pointer;
            }
        }
    }
    &__form-blocks {
        display: flex;
        gap: 20px;
    }
    &__form-block {
        display: inline-block;
        padding: 6px 12px;
        border-radius: 6px;

        color: #9e9da8;
        background: var(--filter-form-bg-block);
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;

        &:hover {
            cursor: pointer;
            color: var(--filter-form-text-color);
        }
    }
    &__separate {
        width: 1px;
        align-self: stretch;
        background: var(--filter-form-separate);

        @include ab.breakpoint(lg) {
            height: 1px;
            width: 100%;
        }
    }

    &__control {
        margin-top: 32px;
        display: flex;
        justify-content: flex-end;
        column-gap: 20px;
        align-items: center;
        @include ab.breakpoint(md) {
            margin-top: 24px;
        }
    }
    &__cancer {
        color: #9e9da8;

        font-size: 1.5rem;
        line-height: 146.667%;
        &:hover {
            opacity: 0.7;
        }
    }
    &__show {
        padding: 9px 10px;
        background: #ffb700;
        border-radius: 6px;

        color: #1a162e;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;
        transition: background-color 0.3s;
        &:hover {
            opacity: 0.7;
        }
    }
}
