@use "../abstract" as ab;

.logo {
    @include ab.flexCenter($j: null);
    column-gap: 14px;
    span {
        color: var(--header-logo-color);
        font-size: 22px;
        font-weight: 700;
        line-height: 1.45;
    }

    img {
        @include ab.breakpoint(sm) {
            width: 24px;
        }
    }
}
