@use "../abstract" as ab;
.product-item {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100%;
    border-radius: 16px;
    padding: 20px 26px 20px 20px;
    background: var(--categories-bg-item);
    transition: box-shadow 0.3s, transform 0.3s;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        transform: translateY(-5px);
    }
    @include ab.breakpoint(xl) {
        flex-direction: column;
    }
    @include ab.breakpoint(lg) {
        border-radius: 10px;
        flex-direction: row;
    }

    &__img {
        background: var(--categories-bg-img);
        width: 116px;
        height: 116px;
        flex-shrink: 0;
        object-fit: contain;
        @include ab.breakpoint(xl) {
            width: 100%;
            height: 150px;
        }
        @include ab.breakpoint(lg) {
            width: 88px;
            height: 88px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
    &__price {
        color: var(--categories-bg-price);
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%;
        @include ab.breakpoint(md) {
            font-size: 1.8rem;
        }
    }
    &__desc {
        color: var(--categories-bg-desc);

        font-size: 1.6rem;
        font-weight: 400;
        line-height: 150%;
        @include ab.breakpoint(md) {
            font-size: 1.4rem;
            line-height: 142.857%;
        }
    }
}
.product-item-2 {
    position: relative;
    background: var(--product-bg-item);
    border-radius: 20px;
    padding: 16px;
    height: 100%;
    box-shadow: var(--product-shadow);
    transition: box-shadow 0.3s, transform 0.3s;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        transform: translateY(-5px);
    }
    &__img {
        width: 280px;
        height: 284px;
        object-fit: contain;
    }

    &__title,
    &__price,
    &__rate {
        color: var(--product-bg-title);

        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
    }

    &__title,
    &__branch,
    &__row {
        display: block;
        margin-top: 16px;
    }

    &__branch {
        color: #9e9da8;
        font-size: 1.5rem;
        line-height: 146.667%;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & > * {
            object-fit: contain;
        }
    }

    &__rate-product {
        display: flex;
        align-items: center;
        column-gap: 6px;
    }
}
