.slideshow {
    margin-top: 40px;
    position: relative;
    overflow: hidden;

    &__inner {
        display: flex;
        align-items: center;
        width: 100%;
        height: 445px;
        border-radius: 20px;
        background: #b9babe;
        transition: 0.4s;
    }
    &__img {
        width: inherit;
        height: inherit;

        flex-shrink: 0;
    }

    &__pages {
        display: flex;
        column-gap: 20px;
        align-items: center;
        position: absolute;
        bottom: 66px;
        left: 70px;
        display: flex;
        color: #fff;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }
    &__line {
        position: relative;
        background: #fff;
        width: 180px;
        height: 4px;
        flex-shrink: 0;
        &::before,
        &::after {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            content: "";
            display: block;
            background: transparent;
            border-radius: 50%;
            width: 14px;
            height: 14px;
            border: 4px solid #fff;
        }
        &::before {
            left: -10px;
        }
        &::after {
            right: -10px;
        }
    }
    &__move {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        left: -10px;
        display: inline-block;
        background: transparent;
        border-radius: 50%;
        width: 14px;
        height: 14px;
        border: 4px solid red;
    }

    &__control {
    }
    &__right,
    &__left {
        position: absolute;
        top: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-50%);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        box-shadow: brightness(0) saturate(100%) invert(8%) sepia(28%) saturate(1463%) hue-rotate(211deg) brightness(90%) contrast(96%);
        background: rgba($color: #fff, $alpha: 0.5);
        &:hover {
            cursor: pointer;
        }
        svg {
            width: 20px;
            height: 20px;
        }
    }
    &__left {
        left: 0;
    }
    &__right {
        right: 0;
    }
}
