@use "../abstract" as ab;
.testimonial {
    &__card {
        padding: 30px;
        height: 100%;
        border-radius: 10px;
        color: var(--testimonial-text-color);
        background: var(--testimonial-bg-color);
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #ebebeb;
    }
    &__name {
        margin-left: 20px;
        @include ab.breakpoint(xl) {
            margin: 0;
        }
        h3 {
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 145.455%;
            @include ab.breakpoint(md) {
                font-size: 1.8rem;
            }
        }
        span {
            margin-top: 10px;
            font-size: 1.6rem;
            line-height: 150%;
        }
    }

    &__row {
        display: flex;
        align-items: center;

        @include ab.breakpoint(xl) {
            gap: 10px;
            flex-direction: column;
            text-align: center;
            justify-content: center;
        }

        @include ab.breakpoint(md) {
            gap: 20px;
            flex-direction: row;
            justify-content: flex-start;
            text-align: left;
        }

        &--stars {
            margin-top: auto;
        }
    }

    &__stars {
        display: flex;
        gap: 8px;
        img {
            flex: 1;
            width: 18px;
            height: 18px;
            object-fit: contain;
        }
        @include ab.breakpoint(md) {
            gap: 12px;
        }
    }

    &__review {
        margin-left: 20px;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
        @include ab.breakpoint(xl) {
            margin: 0;
        }
    }
}
