@use "../abstract" as ab;
*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Gordita", sans-serif;
    font-size: 1.6rem;
    background: var(--body-bg);
}

a,
img select,
button,
textarea,
input {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
    padding: 0;
}

button {
    border: none;
    outline: none;
    background: transparent;
}

img {
    object-fit: cover;
    border-radius: inherit;
}
a {
    text-decoration: none;
}
.icon {
    // filter:var(--filter-icon);
    filter: var(--filter-icon);
}
