@use "../abstract" as ab;
*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Gordita", sans-serif;
    font-size: 1.6rem;
    background: var(--body-bg);
}

a,
img select,
div,
button,
textarea,
input {
    outline: none;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
    padding: 0;
}

button {
    border: none;
    outline: none;
    background: transparent;
}

img {
    object-fit: cover;
    border-radius: inherit;
}
a {
    text-decoration: none;
}
.icon {
    // filter:var(--filter-icon);
    filter: var(--filter-icon);
}

.container {
    @include ab.breakpoint(sm) {
        --grid-gutter-x: 40px !important;
    }
}

.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--line-clamp-numb, 3);
    overflow: hidden;
}
