/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Gordita", sans-serif;
  font-size: 1.6rem;
  background: var(--body-bg);
}

a,
img select,
button,
textarea,
input {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

img {
  object-fit: cover;
  border-radius: inherit;
}

a {
  text-decoration: none;
}

.icon {
  filter: var(--filter-icon);
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1370px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.gx-0 {
  --grid-gutter-x: 0px;
}

.g-0,
.gy-0 {
  --grid-gutter-y: 0px;
}

.g-1,
.gx-1 {
  --grid-gutter-x: 7.5px;
}

.g-1,
.gy-1 {
  --grid-gutter-y: 7.5px;
}

.g-2,
.gx-2 {
  --grid-gutter-x: 15px;
}

.g-2,
.gy-2 {
  --grid-gutter-y: 15px;
}

.g-3,
.gx-3 {
  --grid-gutter-x: 30px;
}

.g-3,
.gy-3 {
  --grid-gutter-y: 30px;
}

.g-4,
.gx-4 {
  --grid-gutter-x: 45px;
}

.g-4,
.gy-4 {
  --grid-gutter-y: 45px;
}

.g-5,
.gx-5 {
  --grid-gutter-x: 90px;
}

.g-5,
.gy-5 {
  --grid-gutter-y: 90px;
}

@media (max-width: 1399.98px) {
  .container {
    max-width: 1170px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --grid-gutter-x: 0px;
  }
  .g-xl-0,
  .gy-xl-0 {
    --grid-gutter-y: 0px;
  }
  .g-xl-1,
  .gx-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-xl-1,
  .gy-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-xl-2,
  .gx-xl-2 {
    --grid-gutter-x: 15px;
  }
  .g-xl-2,
  .gy-xl-2 {
    --grid-gutter-y: 15px;
  }
  .g-xl-3,
  .gx-xl-3 {
    --grid-gutter-x: 30px;
  }
  .g-xl-3,
  .gy-xl-3 {
    --grid-gutter-y: 30px;
  }
  .g-xl-4,
  .gx-xl-4 {
    --grid-gutter-x: 45px;
  }
  .g-xl-4,
  .gy-xl-4 {
    --grid-gutter-y: 45px;
  }
  .g-xl-5,
  .gx-xl-5 {
    --grid-gutter-x: 90px;
  }
  .g-xl-5,
  .gy-xl-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --grid-gutter-x: 0px;
  }
  .g-lg-0,
  .gy-lg-0 {
    --grid-gutter-y: 0px;
  }
  .g-lg-1,
  .gx-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-lg-1,
  .gy-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-lg-2,
  .gx-lg-2 {
    --grid-gutter-x: 15px;
  }
  .g-lg-2,
  .gy-lg-2 {
    --grid-gutter-y: 15px;
  }
  .g-lg-3,
  .gx-lg-3 {
    --grid-gutter-x: 30px;
  }
  .g-lg-3,
  .gy-lg-3 {
    --grid-gutter-y: 30px;
  }
  .g-lg-4,
  .gx-lg-4 {
    --grid-gutter-x: 45px;
  }
  .g-lg-4,
  .gy-lg-4 {
    --grid-gutter-y: 45px;
  }
  .g-lg-5,
  .gx-lg-5 {
    --grid-gutter-x: 90px;
  }
  .g-lg-5,
  .gy-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --grid-gutter-x: 0px;
  }
  .g-md-0,
  .gy-md-0 {
    --grid-gutter-y: 0px;
  }
  .g-md-1,
  .gx-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-md-1,
  .gy-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-md-2,
  .gx-md-2 {
    --grid-gutter-x: 15px;
  }
  .g-md-2,
  .gy-md-2 {
    --grid-gutter-y: 15px;
  }
  .g-md-3,
  .gx-md-3 {
    --grid-gutter-x: 30px;
  }
  .g-md-3,
  .gy-md-3 {
    --grid-gutter-y: 30px;
  }
  .g-md-4,
  .gx-md-4 {
    --grid-gutter-x: 45px;
  }
  .g-md-4,
  .gy-md-4 {
    --grid-gutter-y: 45px;
  }
  .g-md-5,
  .gx-md-5 {
    --grid-gutter-x: 90px;
  }
  .g-md-5,
  .gy-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --grid-gutter-x: 0px;
  }
  .g-sm-0,
  .gy-sm-0 {
    --grid-gutter-y: 0px;
  }
  .g-sm-1,
  .gx-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .g-sm-1,
  .gy-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .g-sm-2,
  .gx-sm-2 {
    --grid-gutter-x: 15px;
  }
  .g-sm-2,
  .gy-sm-2 {
    --grid-gutter-y: 15px;
  }
  .g-sm-3,
  .gx-sm-3 {
    --grid-gutter-x: 30px;
  }
  .g-sm-3,
  .gy-sm-3 {
    --grid-gutter-y: 30px;
  }
  .g-sm-4,
  .gx-sm-4 {
    --grid-gutter-x: 45px;
  }
  .g-sm-4,
  .gy-sm-4 {
    --grid-gutter-y: 45px;
  }
  .g-sm-5,
  .gx-sm-5 {
    --grid-gutter-x: 90px;
  }
  .g-sm-5,
  .gy-sm-5 {
    --grid-gutter-y: 90px;
  }
}
.d-block {
  display: block !important;
}

.d-none {
  display: none !important;
}

.d-grid {
  display: grid !important;
}

.d-flex {
  display: flex !important;
}

@media (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-none {
    display: none !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
}
@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-none {
    display: none !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-none {
    display: none !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-none {
    display: none !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-flex {
    display: flex !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-none {
    display: none !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
}
html.dark {
  --body-bg: #292e39;
  --text-primary-color: #fff;
  --filter-icon: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(104deg) brightness(103%) contrast(103%);
  --header-logo-color: #fff;
  --header-bg-color: #171c28;
  --header-action-gr-bg: #292e39;
  --header-action-gr-separate-color: #ededf6;
  --header-action-gr-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
  --dropdown-text: #fff;
  --dropdown-bg: #3a3e48;
  --dropdown-filter: brightness(0) saturate(100%) invert(24%) sepia(16%) saturate(420%) hue-rotate(185deg) brightness(90%) contrast(94%);
  --dropdown-shadow: 0px 40px 90px 20px rgba(23, 28, 40, 0.4);
  --dropdown-topmenu-text: #b9babe;
  --dropdown-topmenu-main-border: #171c28;
  --dropdown-topmenu-icon-filter: brightness(0) saturate(100%) invert(96%) sepia(1%) saturate(747%) hue-rotate(202deg) brightness(102%) contrast(96%);
  --nav-menu-bars-bg-color: #292e39;
  --nav-menu-bars-bg-shadow: 0px 40px 90px 20px rgba(23, 28, 40, 0.4);
  --nav-menu-bars-bg-border-bottom: #b9babe;
  --home-title-h2-color: #ffffff;
  --categories-bg-item: #171c28;
  --categories-bg-dimg: #292e39;
  --categories-bg-price: #ffffff;
  --categories-bg-desc: #ffffff;
  --product-bg-item: #171c28;
  --product-shadow: 0px 20px 60px 10px rgba(0, 0, 0, 0.2);
  --product-bg-title: #fff;
  --product-bg-price: #fff;
  --product-bg-rate: #fff;
  --filter-title-color: #fff;
  --filter-title--bg-color: #171c28;
  --filter-title-icon-filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(359deg) brightness(101%) contrast(102%);
  --heart-bg: #292e39;
  --heart-filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(2%) hue-rotate(322deg) brightness(102%) contrast(101%);
}
@media (max-width: 991.98px) {
  html.dark {
    --text-primary-color: #b9babe;
  }
}
@media (max-width: 991.98px) {
  html.dark {
    --header-shadow: 0px 20px 60px 10px rgba(0, 0, 0, 0.2);
  }
}
@media (max-width: 991.98px) {
  html.dark {
    --categories-bg-item: #171c28;
  }
}

:root {
  --body-bg: #f6f6f6;
  --text-primary-color: #1a162e;
  --filter-icon: (brightness(0) saturate(100%) invert(8%) sepia(6%) saturate(7488%) hue-rotate(213deg) brightness(98%) contrast(95%));
  --header-logo-color: #1a162e;
  --header-bg-color: #eee;
  --header-action-gr-bg: #fff;
  --header-action-gr-separate-color: #ededf6;
  --header-action-gr-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
  --dropdown-text: #1a162e;
  --dropdown-bg: #fff;
  --dropdown-filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(241deg) brightness(103%) contrast(103%);
  --dropdown-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);
  --dropdown-topmenu-text: #1a162e;
  --dropdown-topmenu-main-border: #d2d1d6;
  --dropdown-topmenu-icon-filter: brightness(0) saturate(100%) invert(8%) sepia(28%) saturate(1463%) hue-rotate(211deg) brightness(90%) contrast(96%);
  --nav-menu-bars-bg-color: #fff;
  --nav-menu-bars-bg-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);
  --nav-menu-bars-bg-border-bottom: #1a162e;
  --home-title-h2-color: #1a162e;
  --categories-bg-item: #eee;
  --categories-bg-img: #fff;
  --categories-bg-price: #1a162e;
  --categories-bg-desc: #1a162e;
  --product-bg-item: #fff;
  --product-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
  --product-bg-title: #1a162e;
  --product-bg-price: #1a162e;
  --product-bg-rate: #1a162e;
  --filter-title-color: #6c6c72;
  --filter-title--bg-color: #fff;
  --filter-title-icon-filter: brightness(0) saturate(100%) invert(39%) sepia(2%) saturate(1112%) hue-rotate(203deg) brightness(104%) contrast(82%);
  --heart-bg: #fff;
}
@media (max-width: 991.98px) {
  :root {
    --header-bg-color: #fff;
    --header-action-gr-bg: #eee;
    --header-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
  }
}
@media (max-width: 767.98px) {
  :root {
    --categories-bg-item: #ffffff;
  }
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 14px;
}
.logo span {
  color: var(--header-logo-color);
  font-size: 22px;
  font-weight: 700;
  line-height: 1.45;
}

.nav {
  margin-left: 139px;
}
.nav__list {
  display: flex;
  align-items: center;
}
@media (max-width: 991.98px) {
  .nav__list {
    overflow-y: auto;
    overscroll-behavior: contain;
    flex-flow: column;
    align-items: flex-start;
    height: calc(100% - 65px);
    padding: 20px 40px 40px;
  }
}
@media (max-width: 767.98px) {
  .nav__list {
    padding: 20px;
    height: calc(100% - 170px);
  }
}
@media (max-width: 575.98px) {
  .nav__list {
    height: calc(100% - 170px);
  }
}
.nav__item {
  padding: 0 15px;
}
.nav__item:hover .menu-dropdown {
  display: block;
}
.nav__item > a {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 6px;
  color: var(--text-primary-color);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.46;
  height: 50px;
}
@media (max-width: 991.98px) {
  .nav__item > a {
    position: sticky;
    top: -22px;
    background: var(--nav-menu-bars-bg-color);
    z-index: 5;
    justify-content: space-between;
  }
}
@media (max-width: 991.98px) {
  .nav__item {
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #ccc;
  }
  .nav__item--active {
    border-bottom: initial;
  }
  .nav__item:hover .menu-dropdown {
    display: none;
  }
  .nav__item--active .menu-dropdown {
    display: block !important;
  }
  .nav__item .icon {
    rotate: -90deg;
    transition: rotate 0.3s;
  }
  .nav__item--active .icon {
    rotate: 0deg;
  }
  .nav__item > a {
    height: 44px;
  }
}
.nav__bars-icon {
  display: none;
}
@media (max-width: 991.98px) {
  .nav__bars-icon {
    display: block;
    padding: 20px 40px 0;
  }
}
@media (max-width: 767.98px) {
  .nav__bars-icon {
    padding: 20px 20px;
  }
}
@media (max-width: 1199.98px) {
  .nav {
    margin-left: 50px;
  }
}
@media (max-width: 991.98px) {
  .nav {
    position: fixed;
    margin-left: 0;
    z-index: 9;
    inset: 0 50% 0 0;
    margin-left: 0;
    border-radius: 0px 20px 20px 0px;
    background: var(--nav-menu-bars-bg-color);
    box-shadow: initial;
    transform: translateX(-101%);
    transition: transform 0.5s;
  }
}
@media (max-width: 767.98px) {
  .nav {
    inset: 0 40% 0 0;
  }
}
@media (max-width: 575.98px) {
  .nav {
    inset: 0 20% 0 0;
  }
}
@media (max-width: 991.98px) {
  .nav.show {
    transform: translateX(0);
    box-shadow: var(--nav-menu-bars-bg-shadow);
  }
  .nav.show + .overlay-nav-bars {
    opacity: 1;
    visibility: visible;
  }
}

.overlay-nav-bars {
  display: none;
}
@media (max-width: 991.98px) {
  .overlay-nav-bars {
    display: block;
    background: rgba(23, 28, 40, 0.4);
    position: fixed;
    inset: 0;
    z-index: 8;
    opacity: 0;
    visibility: hidden;
    transition: opacity, visibility;
    transition-duration: 0.5s;
  }
}

.nav-bars-btn {
  height: 50px;
  padding: 0 20px;
  align-items: center;
}
.nav-bars-btn__title, .nav-bars-btn__qnt {
  margin-left: 15px;
  color: var(--dropdown-topmenu-text);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%;
}
.nav-bars-btn__qnt {
  margin-left: auto;
}
@media (max-width: 575.98px) {
  .nav-bars-btn {
    height: 44px;
  }
}

.menu-dropdown {
  padding-top: 54px;
  width: min(1204px, 100%);
  position: absolute;
  display: none;
  left: 0;
}
@media (max-width: 991.98px) {
  .menu-dropdown {
    position: initial;
    width: 100%;
    padding-top: 0;
  }
}
.menu-dropdown__inner {
  --inner-max-height: min(100vh - 158px, 582px);
  --inner-padding: 30px;
  --width-topmenu-main: 292px;
  position: relative;
  color: var(--dropdown-text);
  padding: var(--inner-padding);
  border-radius: 20px;
  background: var(--dropdown-bg);
  box-shadow: var(--dropdown-shadow);
}
@media (max-width: 991.98px) {
  .menu-dropdown__inner {
    border-radius: initial;
    box-shadow: initial;
    padding: 0;
  }
  .menu-dropdown__inner::after {
    display: none;
  }
}
.menu-dropdown__inner::after {
  position: absolute;
  top: -13px;
  left: var(--arrow-left-pos);
  transform: translateX(-50%);
  content: url("../icon/arrow-dropdown.svg");
  filter: var(--dropdown-filter);
}

.menu-bars {
  display: none;
}
@media (max-width: 991.98px) {
  .menu-bars {
    display: block;
    margin-right: 20px;
  }
}
@media (max-width: 767.98px) {
  .menu-bars {
    margin-right: 0;
  }
}

.top-menu {
  position: relative;
}
.top-menu__main {
  overflow-y: auto;
  width: var(--width-topmenu-main);
  height: calc(var(--inner-max-height) - var(--inner-padding) * 2);
  border-right: 1px solid var(--dropdown-topmenu-main-border);
}
@media (max-width: 991.98px) {
  .top-menu__main {
    width: 100%;
    height: auto;
    border-right: initial;
  }
}

.menu-column {
  display: flex;
  column-gap: 14px;
}
@media (max-width: 991.98px) {
  .menu-column {
    background: var(--nav-menu-bars-bg-color);
  }
}
.menu-column__icon {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  position: relative;
  object-fit: contain;
}
.menu-column__icon-2 {
  position: absolute;
  right: 0;
  bottom: 0;
  filter: var(--dropdown-topmenu-icon-filter);
  object-fit: contain;
}
@media (max-width: 1199.98px) {
  .menu-column__icon {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .menu-column__icon {
    display: block;
  }
}
.menu-column__content {
  flex: 1;
}
.menu-column__title {
  margin-top: 4px;
}
@media (max-width: 991.98px) {
  .menu-column__title {
    margin-bottom: 14px;
  }
}
.menu-column__title a {
  color: var(--dropdown-topmenu-text);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
}
.menu-column__list {
  margin-top: 12px;
}
@media (max-width: 991.98px) {
  .menu-column__list {
    background: var(--nav-menu-bars-bg-color);
    margin-top: 0;
  }
}
.menu-column__item--active > .menu-column__link,
.menu-column__item--active .menu-column__link:hover {
  color: #0071dc;
  font-weight: 500;
}
.menu-column__item--active .sub-menu {
  display: grid;
}
.menu-column__link {
  color: var(--dropdown-topmenu-text);
  display: block;
  padding: 7px 0px;
  font-size: 1.4rem;
  line-height: 142.857%;
}

.sub-menu {
  position: absolute;
  inset: 0 0 0 var(--width-topmenu-main);
  overflow-y: auto;
  height: 100%;
  padding-left: var(--inner-padding);
  display: none;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 991.98px) {
  .sub-menu {
    background: var(--nav-menu-bars-bg-color);
    margin-top: 14px;
    position: initial;
    grid-template-columns: 1fr;
    padding-left: 0;
  }
}
.sub-menu__column {
  display: flex;
  flex-flow: column;
  row-gap: 30px;
}
.sub-menu--not-main {
  height: calc(var(--inner-max-height) - var(--inner-padding) * 2);
  grid-template-columns: repeat(4, 1fr);
  position: initial;
  inset: initial;
  display: grid;
}
@media (max-width: 991.98px) {
  .sub-menu--not-main {
    grid-template-columns: 1fr;
    overflow-y: initial;
    height: auto;
  }
}
.sub-menu--not-main .menu-column__link:hover {
  color: #0071dc;
  font-weight: 500;
}

.slideshow__wrap {
  position: relative;
}

.slideshow {
  margin-top: 40px;
  position: relative;
  border-radius: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.slideshow.dragging .slideshow__item {
  user-select: none;
  -webkit-user-drag: none;
  cursor: grab;
}
.slideshow__inner {
  display: flex;
  align-items: center;
  background: #b9babe;
  transition: 0.4s;
}
.slideshow__item {
  scroll-snap-align: start;
  position: relative;
  flex-shrink: 0;
  width: 100%;
  padding-top: 34%;
}
@media (max-width: 767.98px) {
  .slideshow__item {
    padding-top: 50%;
  }
}
.slideshow__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slideshow__pages {
  display: flex;
  column-gap: 20px;
  align-items: center;
  position: absolute;
  bottom: 15%;
  left: 5.2%;
  display: flex;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 144.444%;
}
.slideshow__line {
  position: relative;
  background: #fff;
  width: 180px;
  height: 4px;
  flex-shrink: 0;
}
.slideshow__line::before, .slideshow__line::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  display: block;
  background: transparent;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  border: 4px solid #fff;
}
.slideshow__line::before {
  left: -14px;
}
.slideshow__line::after {
  right: -14px;
}
.slideshow__move {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  left: -14px;
  display: inline-block;
  background: #fff;
  border-radius: 50%;
  width: 14px;
  height: 14px;
}
.slideshow__right, .slideshow__left {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background: rgba(255, 255, 255, 0.5);
}
@media (max-width: 767.98px) {
  .slideshow__right, .slideshow__left {
    width: 40px;
    height: 40px;
  }
}
.slideshow__right:hover, .slideshow__left:hover {
  cursor: pointer;
}
.slideshow__right svg, .slideshow__left svg {
  width: 20px;
  height: 20px;
}
.slideshow__left {
  left: 0;
}
.slideshow__right {
  right: 0;
}

.product-item {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
  border-radius: 16px;
  padding: 20px 26px 20px 20px;
  background: var(--categories-bg-item);
  transition: box-shadow 0.3s, transform 0.3s;
}
.product-item:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transform: translateY(-5px);
}
@media (max-width: 1199.98px) {
  .product-item {
    flex-direction: column;
  }
}
@media (max-width: 991.98px) {
  .product-item {
    border-radius: 10px;
    flex-direction: row;
  }
}
.product-item__img {
  background: var(--categories-bg-img);
  width: 116px;
  height: 116px;
  flex-shrink: 0;
  object-fit: contain;
}
@media (max-width: 1199.98px) {
  .product-item__img {
    width: 100%;
    height: 150px;
  }
}
@media (max-width: 991.98px) {
  .product-item__img {
    width: 88px;
    height: 88px;
  }
}
.product-item__content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.product-item__price {
  color: var(--categories-bg-price);
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 145.455%;
}
@media (max-width: 767.98px) {
  .product-item__price {
    font-size: 1.8rem;
  }
}
.product-item__desc {
  color: var(--categories-bg-desc);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 767.98px) {
  .product-item__desc {
    font-size: 1.4rem;
    line-height: 142.857%;
  }
}

.product-item-2 {
  position: relative;
  background: var(--product-bg-item);
  border-radius: 20px;
  padding: 16px;
  height: 100%;
  box-shadow: var(--product-shadow);
  transition: box-shadow 0.3s, transform 0.3s;
}
.product-item-2:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transform: translateY(-5px);
}
.product-item-2__img {
  width: 280px;
  height: 284px;
  object-fit: contain;
}
.product-item-2__title, .product-item-2__price, .product-item-2__rate {
  color: var(--product-bg-title);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
}
.product-item-2__title, .product-item-2__branch, .product-item-2__row {
  display: block;
  margin-top: 16px;
}
.product-item-2__branch {
  color: #9e9da8;
  font-size: 1.5rem;
  line-height: 146.667%;
}
.product-item-2__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-item-2__row > * {
  object-fit: contain;
}
.product-item-2__rate-product {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.filter {
  display: flex;
  align-items: center;
  column-gap: 14px;
  padding: 6px 12px;
  border-radius: 6px;
  background: var(--filter-title--bg-color);
  transition: opacity 0.3s;
}
.filter:hover {
  cursor: pointer;
  opacity: 0.7;
}
.filter__title {
  color: var(--filter-title-color);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 142.857%;
}
.filter__icon {
  filter: var(--filter-title-icon-filter);
}

.heart {
  position: absolute;
  right: 16px;
  top: 250px;
}
.heart:hover {
  user-select: none;
  cursor: pointer;
}

.heart.heart-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--heart-bg);
  box-shadow: 0px 20px 60px rgba(124, 124, 124, 0.3);
}
.heart.heart-circle > .icon {
  object-fit: contain;
}

.header {
  background: var(--header-bg-color);
}
@media (max-width: 991.98px) {
  .header {
    box-shadow: var(--header-shadow);
  }
}
.header__row {
  z-index: 6;
  padding: 30px 0;
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .header__row {
    justify-content: space-evenly;
  }
}
.header .menu-bars__icon {
  margin-right: 30px;
}
@media (max-width: 991.98px) {
  .header .menu-bars__icon {
    display: block;
  }
}
@media (max-width: 575.98px) {
  .header .menu-bars__icon {
    margin: 0;
  }
}
@media (max-width: 767.98px) {
  .header .menu-bars__icon {
    margin-right: 0;
  }
}
.header .menu-bars__bg {
  background: var(--menu-bars-bg-color);
  box-shadow: var(--menu-bars-bg-shadow);
  inset: 0 50% 0 0;
  position: fixed;
  z-index: 9;
}
.header__action {
  display: flex;
  align-items: center;
  margin-left: auto;
}
@media (max-width: 767.98px) {
  .header__action {
    margin-left: 0;
  }
}
.header__action.header__action {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.header__action .action-group {
  background: var(--header-action-gr-bg);
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 8px;
  column-gap: 20px;
  box-shadow: var(--header-action-gr-shadow);
  cursor: pointer;
}
.header__action .action-group__separate {
  background: var(--header-action-gr-separate-color);
  width: 1px;
  height: 30px;
}
.header__action .action-group--single {
  padding: 13px 13px;
}
.header__action .action {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  color: var(--text-primary-color);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.46;
  cursor: pointer;
}
.header__action .avatar {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  background: url(<path-to-image>) lightgray -205.145px -22.64px/819.939% 546.626% no-repeat, #dfd2fa;
  box-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.header__action .avatar img {
  display: block;
  width: 100%;
}

.categories__row {
  --grid-gutter-x: 51px;
}
@media (max-width: 1399.98px) {
  .categories__row {
    --grid-gutter-x: 30px;
  }
}
@media (max-width: 991.98px) {
  .categories__row {
    --grid-gutter-y: 30px;
  }
}
@media (max-width: 767.98px) {
  .categories__row {
    --grid-gutter-y: 24px;
  }
}

.products__row-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home__container {
  margin-top: 40px;
}
.home__title-2 {
  margin-bottom: 21px;
  color: var(--home-title-h2-color);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 141.667%;
}
@media (max-width: 767.98px) {
  .home__title-2 {
    font-size: 2.2rem;
    line-height: 145.455%;
  }
}

/*# sourceMappingURL=main.css.map */
