body:has(.checkout) {
    background: var(--checkout-bg);
}
body:has(.breakcumbs) .breakcumbs {
    background: var(--checkout-bg-breakcumbs);
}

.checkout {
    &__container {
        margin-top: 30px;
    }
    // content left / right
    &__left,
    &__right,
    &__gift {
        padding: 30px;
        background: var(--checkout-left-bg-color);
        border-radius: 20px;
        box-shadow: var(--checkout-left-shadow);
    }

    &__list {
        margin-top: -30px;
    }
    &__item {
        display: flex;
        padding: 30px 0;
        border-bottom: 1px solid var(--checkout-item-separate-color);
    }

    &__item-thumb-wrapper {
    }

    &__item-thumb {
        width: 175px;
        height: 172px;
    }

    &__item-content {
        display: flex;
        flex: 1;
        align-self: flex-start;
    }

    // item left
    &__item-left {
        display: flex;
        flex: 3;
        gap: 16px;
        flex-direction: column;
    }
    &__item-title {
        color: var(--checkout-item-text-color);
        width: 374px;

        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__item-price-wrapper {
        color: #9e9da8;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__item-status {
        color: #67b044;
    }

    &__item-wrapper-control {
        display: flex;
        gap: 20px;
    }

    &__item-control-input {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 0px 20px;
        height: 100%;
        border-radius: 10px;
        border: 1px solid var(--Secondary-Color-Secondary-3, #d2d1d6);

        color: var(--checkout-item-text-color);

        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;

        &--select,
        button {
            cursor: pointer;
        }
    }

    &__item-control {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        height: 44px;
    }
    &__item-control-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        color: #9e9da8;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
        height: 100%;
        cursor: pointer;
    }

    &__left-bottom {
        margin-top: 30px;
    }
    &__backshop-wrapper {
        display: flex;
        align-items: flex-end;
        height: 100%;
    }
    &__backshop {
        display: flex;
        align-items: center;

        color: var(--checkout-item-text-color);

        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        &:hover {
            img {
                transform: translateY(10px);
            }
        }
        img {
            rotate: 90deg;
            transition: transform 0.3s;
        }
    }

    &__infor-price {
        &-row {
            display: flex;
            justify-content: space-between;

            color: var(--checkout-item-text-color);
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;
            &--bold {
                font-size: 2.2rem;
                font-weight: 700;
            }
            &--simi {
                font-weight: 400;
            }
            & + & {
                margin-top: 12px;
            }
        }

        &-separate {
            height: 1px;
            margin: 20px 0;
            background: var(--checkout-item-control-input-border);
        }

        &-btn {
            margin-top: 30px;
            height: 50px;
            width: 100%;
            padding: 10px 0;

            color: #1a162e;

            font-size: 2rem;
            font-weight: 500;
            line-height: 145.455%;
        }
    }

    // item right
    &__item-right {
        flex: 1;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__item-total {
        color: var(--checkout-item-total-border);

        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%;
    }

    &__item-checkout-btn {
        margin-top: auto;
        height: 44px;
    }

    // checkout gift
    &__gift {
        display: flex;
        align-items: center;
        gap: 20px;

        margin-top: 30px;
        padding: 30px;
        color: var(--checkout-item-text-color);

        font-weight: 500;
        line-height: 144.444%;
        &-title {
            font-size: 1.8rem;
        }
        &-desc {
            margin-top: 10px;
            font-size: 1.4rem;
            font-weight: 400;
        }

        &-img {
            padding: 10px;
            border-radius: 14px;
            background: var(--checkout-gift-bg);
            box-shadow: var(--checkout-left-shadow);
        }
    }
}
