@use "../abstract" as ab;

body:has(.checkout) {
    background: var(--checkout-bg);
}
body:has(.breakcumbs) .breakcumbs {
    background: var(--checkout-bg-breakcumbs);
}

.checkout {
    &__container {
        margin-top: 30px;
    }
    &__cart-info__control {
        margin-top: auto;
    }

    // checkout gift
    &__gift {
        margin-top: 30px;
        padding: 30px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        background: var(--checkout-left-bg-color);
        box-shadow: var(--checkout-left-shadow);
        gap: 20px;
        color: var(--checkout-item-text-color);
        font-weight: 500;
        line-height: 144.444%;

        @include ab.breakpoint(md) {
            padding: 16px;
        }
        &-title {
            font-size: 1.8rem;

            @include ab.breakpoint(md) {
                font-size: 1.6rem;
            }
        }
        &-desc {
            margin-top: 10px;
            font-size: 1.4rem;
            font-weight: 400;
        }

        &-img {
            padding: 10px;
            height: 76px;
            width: 76px;
            border-radius: 14px;
            background: var(--checkout-gift-bg);
            box-shadow: var(--checkout-left-shadow);
            flex-shrink: 0;
            img {
                width: 100%;
            }
            @include ab.breakpoint(sm) {
                height: 50px;
                width: 50px;
            }
        }
    }

    //  checkbox
    &__favour-checkbox {
        position: relative;
        min-width: 19px;
        min-height: 19px;

        &:has(:checked)::after {
            display: inline-block;
        }
        &:has(:checked)::before {
            background: #67b044;
            border-color: #67b044;
        }
        input {
            display: none;
        }

        &::before {
            position: absolute;
            left: 0;
            top: 0;
            content: "";
            display: inline-block;
            border: 2px solid #1a162e;
            border-radius: 5px;
            width: 19px;
            height: 19px;
        }
        &::after {
            position: absolute;
            display: none;
            z-index: 2;
            padding: 4px;
            width: 19px;
            height: 19px;
            left: 0%;
            top: -2px;
            translate: 0%;
            content: url(../../assets/icon/checked.svg);
            filter: brightness(0) saturate(100%) invert(100%) sepia(44%) saturate(2%) hue-rotate(146deg) brightness(113%) contrast(100%);
        }
        &--all {
            display: block;
            margin-top: 30px;
        }
    }
}
.cart-bill {
    padding: 30px;
    background: var(--checkout-left-bg-color);
    border-radius: 20px;
    box-shadow: var(--checkout-left-shadow);
    @include ab.breakpoint(md) {
        padding: 16px;
    }
    &__left-bottom {
        margin-top: 30px;
    }
    &__backshop-wrapper {
        display: flex;
        align-items: flex-end;
        height: 100%;
    }
    &__backshop {
        display: flex;
        align-items: center;

        color: var(--checkout-item-text-color);

        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        &:hover {
            img {
                transform: translateY(10px);
            }
        }
        img {
            filter: var(--cart-info-control-input-filter);
            rotate: 90deg;
            transition: transform 0.3s;
        }
    }
    &__row {
        display: flex;
        justify-content: space-between;

        color: var(--checkout-item-text-color);
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
        &--bold {
            font-size: 2.2rem;
            font-weight: 700;
        }
        &--simi {
            font-weight: 400;
        }
        & + & {
            margin-top: 12px;
        }

        @include ab.breakpoint(md) {
            font-size: 1.6rem;
        }
    }
    &__separate {
        height: 1px;
        margin: 20px 0;
        background: var(--cart-info-control-input-border);
    }

    &__btn {
        margin-top: 30px;
        height: 50px;
        width: 100%;
        padding: 10px 0;

        color: #1a162e;

        font-size: 2rem;
        font-weight: 500;
        line-height: 145.455%;

        @include ab.breakpoint(md) {
            font-size: 1.6rem;
        }
    }

    &__btn-2 {
        font-size: 1.8rem;
        max-width: 230px;
        margin-left: auto;
        height: 50px;
        @include ab.breakpoint(md) {
            margin-left: initial;
            max-width: initial;
            width: auto;
            height: 40px;
        }
    }
}

.cart-info {
    margin-top: 30px;
    padding: 30px;
    background: var(--checkout-left-bg-color);
    border-radius: 20px;
    box-shadow: var(--checkout-left-shadow);

    @include ab.breakpoint(md) {
        padding: 20px;
    }
    @include ab.breakpoint(sm) {
        padding: 16px;
    }

    &__title-h2 {
        color: var(--checkout-item-text-color);
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 141.667%;
        padding-bottom: 30px;
        border-bottom: 2px solid var(--cart-info-separate-color);
    }

    &__list {
        margin-top: -30px;
    }
    &__item {
        display: flex;
        gap: 20px;
        padding: 30px 0;
        border-bottom: 1px solid var(--cart-info-separate-color);
        @include ab.breakpoint(md) {
            gap: 16px;
            &:last-child {
                border-bottom: none;
            }
        }
    }

    &__thumb-wrapper {
    }

    &__thumb {
        width: 175px;
        height: 172px;
        @include ab.breakpoint(lg) {
            width: 120px;
            height: 120px;
        }
        @include ab.breakpoint(md) {
            width: 80px;
            height: 80px;
        }
        @include ab.breakpoint(sm) {
            width: 60px;
            height: 60px;
        }
    }

    &__content {
        display: flex;
        flex: 1;
        align-self: flex-start;

        @include ab.breakpoint(md) {
            gap: 16px;
            flex-direction: column;
        }
    }

    // item left
    &__left {
        display: flex;
        flex: 3;
        gap: 16px;
        flex-direction: column;
    }
    &__title {
        color: var(--checkout-item-text-color);
        width: 374px;

        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        @include ab.breakpoint(xxl) {
            width: 300px;
        }
        @include ab.breakpoint(lg) {
            width: 250px;
        }

        @include ab.breakpoint(md) {
            font-size: 1.6rem;
            width: auto;
        }

        &-shipping {
            margin-bottom: 30px;
        }
    }

    &__price-wrapper {
        color: #9e9da8;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }

    &__status {
        color: #67b044;
    }

    &__wrapper-control {
        display: flex;
        gap: 20px;
        @include ab.breakpoint(md) {
            align-items: flex-start;
            gap: 10px;
            flex-direction: column;
        }
    }

    &__control-input {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 0px 20px;
        height: 100%;
        border-radius: 10px;
        border: 2px solid var(--cart-info-control-input-border);

        color: var(--checkout-item-text-color);

        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;

        &--select,
        button {
            display: flex;
            cursor: pointer;
            img {
                filter: var(--cart-info-control-input-filter);
            }
        }
    }

    &__control {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        height: 44px;
    }
    &__control-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        color: #9e9da8;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
        height: 100%;
        cursor: pointer;
    }

    // item right
    &__right {
        flex: 1;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        @include ab.breakpoint(md) {
            gap: 16px;
            align-items: flex-start;
            margin-left: 0;
        }
    }

    &__total {
        color: var(--checkout-item-total-color);

        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%;

        @include ab.breakpoint(md) {
            font-size: 1.8rem;
        }
    }

    &__checkout-btn {
        margin-top: auto;
        height: 44px;
    }

    &__bill {
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

.user-address {
    &__shipping {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    &__row {
        display: flex;

        &-top {
            gap: 4px;
            justify-content: space-between;
            align-items: center;
        }

        &-item {
            margin-top: 30px;
        }
    }

    &__text {
        color: var(--checkout-item-text-color);
    }

    &__text--bold {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
    }
    &__text--semi {
        font-size: 1.5rem;
        line-height: 146.667%;
    }
    &__text--tiny {
        font-size: 1.4rem;
        line-height: 142.857%;
    }
    &__btn {
        display: flex;
        gap: 10px;
        height: 46px;
        padding: 0 20px;
        font-size: 1.6rem;

        &-icon {
            width: 20px;
            height: 20px;
        }
        img {
            width: 100%;
        }
    }

    &__item-left {
        display: flex;
        gap: 16px;
    }
    &__checkbox {
        align-self: flex-start;

        &-wrapper {
            width: 24px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                background: url(../../assets/icon/notcheckbox-address.svg);
                filter: var(--cart-info-control-input-filter);
                background-repeat: no-repeat;
                background-size: contain;

                width: 24px;
                height: 24px;
            }
            &::after {
                display: none;
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                background: url(../../assets/icon/checkbox-address.svg);
                background-repeat: no-repeat;
                background-size: contain;
                width: 24px;
                height: 24px;
            }

            &:has(:checked)::after {
                display: block;
            }
        }
    }
    &__item-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__item-sub {
        display: flex;
        gap: 30px;
        list-style-type: disc;
        margin-left: 16px;
    }

    &__item-right {
        margin-left: auto;
        align-content: flex-end;
    }

    &__edit {
        display: flex;
        align-items: center;
        gap: 10px;
        color: var(--checkout-item-text-color);
        font-size: 18px;
        font-weight: 400;
        line-height: 144.444%;
        img {
            filter: var(--cart-info-control-input-filter);
        }
    }
}
