.favour {
    &__top {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    &__title {
        color: var(--checkout-item-text-color);
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
    }
    &__desc {
        margin-top: 6px;
        display: block;
        color: var(--checkout-item-text-color);
        font-size: 1.5rem;
        line-height: 145.455%;
    }
}
