@use "../abstract" as ab;
.home {
    &__container {
        margin-top: 40px;
    }
    &__title-2 {
        margin-bottom: 21px;
        color: var(--home-title-h2-color);

        font-size: 2.4rem;
        font-weight: 700;
        line-height: 141.667%;

        @include ab.breakpoint(md) {
            font-size: 2.2rem;
            line-height: 145.455%;
        }
    }
}
