@use "../abstract" as ab;
html.dark {
    // body
    --body-bg: #292e39;
    // text
    --text-primary-color: #fff;
    @include ab.breakpoint(lg) {
        --text-primary-color: #b9babe;
    }
    // filter icon
    --filter-icon: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(104deg) brightness(103%) contrast(103%);
    // header
    --header-logo-color: #fff;

    --header-bg-color: #171c28;
    --header-action-gr-bg: #292e39;
    --header-action-gr-separate-color: #ededf6;
    --header-action-gr-shadow: 0px 4px 14px 2px rgba(0, 0, 0, 0.08);
    @include ab.breakpoint(lg) {
        --header-shadow: 0px 20px 60px 10px rgba(0, 0, 0, 0.2);
    }
    // dropdown
    --dropdown-text: #fff;
    --dropdown-bg: #3a3e48;

    --dropdown-filter: brightness(0) saturate(100%) invert(24%) sepia(16%) saturate(420%) hue-rotate(185deg) brightness(90%) contrast(94%);
    --dropdown-shadow: 0px 40px 90px 20px rgba(23, 28, 40, 0.4);

    // top menu
    --dropdown-topmenu-text: #b9babe;
    --dropdown-topmenu-main-border: #171c28;
    --dropdown-topmenu-icon-filter: brightness(0) saturate(100%) invert(96%) sepia(1%) saturate(747%) hue-rotate(202deg) brightness(102%) contrast(96%);

    // nav-bars
    --nav-menu-bars-bg-color: #292e39;
    --nav-menu-bars-bg-shadow: 0px 40px 90px 20px rgba(23, 28, 40, 0.4);
    --nav-menu-bars-bg-border-bottom: #b9babe;

    // home
    --home-title-h2-color: #ffffff;
    // categories
    --categories-bg-item: #171c28;
    --categories-bg-dimg: #292e39;
    --categories-bg-price: #ffffff;
    --categories-bg-desc: #ffffff;
    @include ab.breakpoint(lg) {
        --categories-bg-item: #171c28;
    }

    // products

    --product-bg-item: #171c28;
    --product-shadow: 0px 20px 60px 10px rgba(0, 0, 0, 0.2);
    --product-bg-title: #fff;
    --product-bg-price: #fff;
    --product-bg-rate: #fff;

    // filter
    --filter-title-color: #fff;
    --filter-title--bg-color: #171c28;

    --filter-title-icon-filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(359deg) brightness(101%) contrast(102%);

    // heart
    --heart-bg: #292e39;
    --heart-filter: brightness(0) saturate(100%) invert(100%) sepia(18%) saturate(1187%) hue-rotate(149deg) brightness(114%) contrast(102%);
    --heart-shadow: none;

    // filter
    --filter-form-bg: #292e39;
    --filter-form-bg-ball: #292e39;

    --filter-form-separate: #eeeeee;

    --filter-form-text-color: #eee;
    --filter-form-bg-block: #171c28;
    --filter-form-text-range: #fff;
    --filter-form-text-size: #fff;
    --filter-form-bg-search: #292e39;
    --filter-form-line: #fff;
    --filter-form-arrow-up: brightness(0) saturate(100%) invert(13%) sepia(9%) saturate(1384%) hue-rotate(183deg) brightness(99%) contrast(88%);
    --filter-form-shadow: 0px 40px 90px rgba(0, 0, 0, 0.4);

    // button
    --button-border-color: #b9babe;

    // footer
    --footer-bg-color: var(--header-bg-color);

    // sign-up
    --sign-up-text-color: #9e9da8;
    --sign-up-text-2-color: #b9babe;

    --sign-up-left-bg-color: #171c28;
    --sign-up-bg-color: #292e39;

    --sign-up-google-filter: brightness(0) saturate(100%) invert(72%) sepia(5%) saturate(472%) hue-rotate(206deg) brightness(88%) contrast(83%);

    // form-block
    --form-block-text-email-color: #b9babe;

    // message
    --message-text-color: rgb(172, 235, 172);

    // breakscumb
    --breakcumbs-bg-color: #171c28;
    --breakcumbs-text-current-color: #fff;

    --breakcumbs-shadow: 0px 20px 60px 10px rgba(23, 28, 40, 0.2);

    // product-detail
    --product-detail-bg-color: #292e39;
    --product-detail-card-bg-color: #171c28;
    --product-detail-content-text-color: #fff;

    --product-detail-content-hr-color: #9a9a9a;

    --product-detail-card-text-primary-color: #eee;

    // testimonial
    --testimonial-bg-color: #171c28;
    --testimonial-text-color: #fff;
    --testimonial-text-hr-color: #ebebeb;

    // search-form
    --search-form-text-color: #b9babe;
    --search-form-text-color: #fff;
    --search-form-bg-color: #171c28;
    --search-form-filter-search: brightness(0) saturate(100%) invert(81%) sepia(10%) saturate(39%) hue-rotate(190deg) brightness(89%) contrast(96%);

    // dropdown-cart
    --dropdown-cart-text-color: #b9babe;

    --dropdown-cart-border-img-color: #d2d1d6;
    --dropdown-cart-bg-color: #292e39;
    --dropdown-cart-border-color: #171c28;
    --dropdown-cart-arrow-filter: brightness(0) saturate(100%) invert(16%) sepia(9%) saturate(1399%) hue-rotate(183deg) brightness(89%) contrast(90%);
    --dropdown-cart-shadow: 0px 40px 90px 20px rgba(23, 28, 40, 0.4);

    // checkout
    --checkout-bg: #292e39;
    --checkout-bg-breakcumbs: #171c28;

    --checkout-left-bg-color: #171c28;
    --checkout-left-shadow: 0px 20px 60px 10px rgba(23, 28, 40, 0.2);

    --checkout-item-text-color: #b9babe;
    --checkout-item-total-color: #b9babe;

    --cart-info-control-input-border: #d2d1d6;
    --cart-info-control-input-filter: brightness(0) saturate(100%) invert(78%) sepia(3%) saturate(269%) hue-rotate(191deg) brightness(95%) contrast(93%);

    --checkout-gift-bg: #292e39;

    // cart-info
    --cart-info-separate-color: #292e39;
}
