@use "../abstract" as ab;
:root {
    // body
    --body-bg: #f6f6f6;
    // text
    --text-primary-color: #1a162e;
    // filter
    --filter-icon: (brightness(0) saturate(100%) invert(8%) sepia(6%) saturate(7488%) hue-rotate(213deg) brightness(98%) contrast(95%));
    // header

    --header-logo-color: #1a162e;

    --header-bg-color: #eee;

    --header-action-gr-bg: #fff;
    --header-action-gr-separate-color: #ededf6;
    --header-action-gr-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);

    @include ab.breakpoint(lg) {
        --header-bg-color: #fff;
        --header-action-gr-bg: #eee;
        --header-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
    }

    // dropdown
    --dropdown-text: #1a162e;
    --dropdown-bg: #fff;
    --dropdown-filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(241deg) brightness(103%) contrast(103%);

    --dropdown-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);

    // top-menu
    --dropdown-topmenu-text: #1a162e;
    --dropdown-topmenu-main-border: #d2d1d6;
    --dropdown-topmenu-icon-filter: brightness(0) saturate(100%) invert(8%) sepia(28%) saturate(1463%) hue-rotate(211deg) brightness(90%) contrast(96%);
    // nav-bars
    --nav-menu-bars-bg-color: #fff;
    --nav-menu-bars-bg-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);
    --nav-menu-bars-bg-border-bottom: #1a162e;

    // home
    --home-title-h2-color: #1a162e;

    // Home - categories
    --categories-bg-item: #eee;
    --categories-bg-img: #fff;
    --categories-bg-price: #1a162e;
    --categories-bg-desc: #1a162e;

    @include ab.breakpoint(md) {
        --categories-bg-item: #ffffff;
    }

    // products
    --product-bg-item: #fff;
    --product-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
    --product-bg-title: #1a162e;
    --product-bg-price: #1a162e;
    --product-bg-rate: #1a162e;

    // filter
    --filter-title-color: #6c6c72;
    --filter-title--bg-color: #fff;
    --filter-title-icon-filter: brightness(0) saturate(100%) invert(39%) sepia(2%) saturate(1112%) hue-rotate(203deg) brightness(104%) contrast(82%);

    // heart
    --heart-bg: #fff;
    --heart-filter: brightness(0) saturate(100%) invert(8%) sepia(29%) saturate(1618%) hue-rotate(213deg) brightness(94%) contrast(95%);

    // filter
    --filter-form-bg: #fff;
    --filter-form-bg-ball: #fff;
    --filter-form-separate: #eeeeee;
    --filter-form-text-color: #1a162e;
    --filter-form-bg-block: #f8f8fb;
    --filter-form-text-range: #1a162e;
    --filter-form-text-size: #1a162e;
    --filter-form-bg-search: #fff;
    --filter-form-line: #d2d1d6;
    --filter-form-arrow-up: brightness(0) saturate(100%) invert(100%) sepia(97%) saturate(0%) hue-rotate(35deg) brightness(104%) contrast(104%);

    --filter-form-shadow: 0px 40px 90px rgba(200, 200, 200, 0.4);

    // button
    --button-border-color: #d2d1d6;

    // footer
    --footer-bg-color: var(--header-bg-color);

    // sign-up
    --sign-up-text-color: #1a162e;
    --sign-up-text-2-color: #9e9da8;
    --sign-up-left-bg-color: #f6f6f6;
    --sign-up-bg-color: #ffffff;

    --sign-up-google-filter: brightness(0) saturate(100%) invert(8%) sepia(6%) saturate(7305%) hue-rotate(214deg) brightness(94%) contrast(95%);

    // form-block
    --form-block-text-email-color: #d2d1d6;

    // message
    --message-text-color: green;

    // breakscumb
    --breakcumbs-bg-color: #f6f6f6;
    --breakcumbs-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);

    @include ab.breakpoint(md) {
        --breakcumbs-bg-color: #fff;
    }

    // product-detail
    --product-detail-bg-color: #fff;
    --product-detail-card-bg-color: #f6f6f6;
    --product-detail-card-text-primary-color: #1a162e;

    @include ab.breakpoint(md) {
        --product-detail-bg-color: #fafafd;
    }
}
