<div class="container">
    <div class="footer__inner">
        <div class="footer__row footer__main-row">
            <div class="footer__short-intro">
                <a href="./" class="logo">
                    <img src="./assets/icon/logo.svg" alt="" />
                    <span class="logo__name">grocerymart</span>
                </a>
                <p class="footer__intro">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam perferendis asperiores aspernatur enim quos. Beatae sapiente consectetur
                    voluptas illo culpa ea suscipit, non ducimus ipsa
                </p>

                <form action="" class="footer__form">
                    <label for="footer__search-input" class="footer__form-title">Receive product news and updates.</label>
                    <div class="footer__row footer__search-row">
                        <input type="search" name="" id="footer__search-input" class="footer__search-input" placeholder="Email address..." />
                        <button class="btn btn__primary footer__btn">SEND</button>
                    </div>
                </form>
            </div>
            <div class="footer__nav">
                <ul class="footer__list">
                    <li class="footer__item">
                        <h3 class="footer__title-link">SHOP</h3>
                    </li>
                    <li class="footer__item"><a href="#!">All Departments</a></li>
                    <li class="footer__item"><a href="#!">Fashion Deals</a></li>
                    <li class="footer__item"><a href="#!">Electronics Discounts</a></li>
                    <li class="footer__item"><a href="#!">Home & Living Specials</a></li>
                    <li class="footer__item"><a href="#!">Beauty Bargains</a></li>
                </ul>
                <ul class="footer__list">
                    <li class="footer__item">
                        <h3 class="footer__title-link">SUPPORT</h3>
                    </li>
                    <li class="footer__item"><a href="#!">Store locator</a></li>
                    <li class="footer__item"><a href="#!">Order status</a></li>
                </ul>
                <ul class="footer__list">
                    <li class="footer__item">
                        <h3 class="footer__title-link">COMPANY</h3>
                    </li>
                    <li class="footer__item"><a href="#!">Customer Service</a></li>
                    <li class="footer__item"><a href="#!">Terms of Use</a></li>
                    <li class="footer__item"><a href="#!">Privacy</a></li>
                    <li class="footer__item"><a href="#!">Careers</a></li>
                    <li class="footer__item"><a href="#!">About</a></li>
                    <li class="footer__item"><a href="#!">Affiliates</a></li>
                </ul>
            </div>
            <div class="footer__contact">
                <ul class="footer__contact-list">
                    <li class="footer__contact-item">
                        <h3 class="footer__title-link">COMPANY</h3>
                    </li>
                    <li class="footer__contact-item"><span>Email: </span><a href="mailto:contact@grocerymart.com">contact@grocerymart.com</a></li>
                    <li class="footer__contact-item"><span>Hotline:</span> <a href="tel:18008888">18008888</a></li>
                    <li class="footer__contact-item">
                        <span>Address:</span> No. 11D, Lot A10, Nam Trung Yen urban area, Yen Hoa Ward, Cau Giay District, City. Hanoi
                    </li>
                    <li class="footer__contact-item"><span>Hours: </span> M - F 08:00am - 06:00pm</li>
                </ul>
            </div>
        </div>
        <div class="footer__row footer__social-row">
            <p class="footer__copy">© 2010 - 2025 Grocery Mart. All rights reserved.</p>
            <div class="footer__social">
                <div class="footer__social-block footer__fb">
                    <i class="fa-brands fa-facebook-f"></i>
                </div>
                <div class="footer__social-block footer__yt">
                    <i class="fa-brands fa-youtube"></i>
                </div>
                <div class="footer__social-block footer__tiktok">
                    <i class="fa-brands fa-tiktok"></i>
                </div>
                <div class="footer__social-block footer__linkin">
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>
                <div class="footer__social-block footer__twitter">
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <div class="footer__social-block footer__instagram">
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </div>
        </div>
    </div>
</div>
