<div class="header">
    <div class="container">
        <div class="header__row">
            <a href="./" class="logo">
                <img src="./assets/icon/logo.svg" alt="" />
                <span class="logo__name">grocerymart</span>
            </a>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#!"
                            >Departments
                            <img
                                class="icon"
                                src="../assets/icon/arrow-down.svg"
                                alt=""
                        /></a>
                    </li>
                    <li class="nav__item">
                        <a href="#!"
                            >Grocery
                            <img
                                class="icon"
                                src="../assets/icon/arrow-down.svg"
                                alt=""
                        /></a>
                    </li>
                    <li class="nav__item">
                        <a href="#!"
                            >Beauty
                            <img
                                class="icon"
                                src="../assets/icon/arrow-down.svg"
                                alt=""
                        /></a>
                    </li>
                </ul>
            </nav>
            <div class="header__action">
                <div class="action-group action-group--single">
                    <button class="action">
                        <img
                            class="icon"
                            src="./assets/icon/act-search.svg"
                            alt=""
                        />
                    </button>
                </div>
                <div class="action-group">
                    <button class="action">
                        <img
                            class="icon"
                            src="./assets/icon/act-heart.svg"
                            alt=""
                        />
                        <span class="act-span">03</span>
                    </button>
                    <div class="action-group__separate"></div>
                    <button class="action">
                        <img
                            class="icon"
                            src="./assets/icon/act-cart.svg"
                            alt=""
                        />
                        <span class="act-span">$65.42</span>
                    </button>
                </div>

                <div class="avatar">
                    <img src="./assets/img/avatar.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
